body, input {
  background: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  color: #555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  &:hover,&.active {
    text-decoration: underline;
  }
}

.page-container {
  width: 1170px;
  min-height: 640px;
  margin: 0 auto 50px;
  overflow: hidden;

  &.drag-over {
    border: 1px dashed #777;
  }

  &.landing-container {
    background: white;

    .sign-link:last-child {
      margin-right: 30px;
    }
  }
}

.sign-link {
  float: right;
  color: #555;
  margin-top: 19px;
}

.sign-form {
  display: block;
  width: 200px;
  margin: 160px auto;

  input {
    display: block;
    width: 100%;
    margin-bottom: 10px;

    &.submit-btn {
      width: auto;
      margin: 0 auto;
    }
  }

  label {
    display: block;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
  }
}

.g-title {
  font-weight: 600;
}

input[type="text"],input[type="password"] {
  background: white;
  outline: none;
  border: 1px solid #d7dadc;
  border-radius: 4px;
  padding: 4px 8px;

  &:focus {
    border: 1px solid #3681de;
  }
}

header {
  position: relative;
  width: 100%;
  height: 60px;
  background: white;
  border-bottom: 1px solid #d7dadc;
  color: #555;
  margin: 0;
  z-index: 999;

  .header-container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 30px;
    overflow: hidden;
  }
}

.logo {
  float: left;
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #555;
  text-decoration: none;
  padding-top: 18px;

  &:hover {
    text-decoration: none;
  }
}

.search-box {
  float: left;
  width: 520px;
  height: 44px;
  color: #555;
  background: #302929;
  border-radius: 44px;
  margin: 8px 0 1px 30px;
  outline: none;

  &:focus {
    border: 1px solid #3681de!important;
  }
}

.management {
  float: right;

  a,div {
    float: left;
    color: #555;
    margin-top: 19px;
    margin-right: 30px;
    cursor: pointer;

    &:hover {
      text-decoration: underline
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .user {
    margin-top: 0;

    .first-name {
      float: left;
      margin: 19px 5px 0 0;
    }

    svg {
      float: left;
      margin-top: 25px;
    }

    &:hover {
      .first-name {
        text-decoration: underline;
      }
    }
  }
}

.search-dropdown {
  display: none;
  position: absolute;
  width: 520px;
  height: 400px;
  background: white;
  color: #555;
  border: 1px solid #d7dadc;
  border-top: none;
  margin: 52px 0 0 120px;
  padding: 10px;
  overflow-y: auto;
  border-radius: 4px;

  .metadata,.content {
    overflow: hidden;
    .title {
      background: #f0f2f5;
      text-align: center;
      padding: 3px 0;
      margin-bottom: 10px;
      color: #555;
    }
  }

  .none {
    display: none;
  }

  .content {
    margin: 30px 0 20px;
  }

  ul {
    list-style: none;

    li {
      margin-bottom: 20px;
      overflow: hidden;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .sd-item {
      img {
        float: left;
        border: 1px solid #d7dadc;
      }

      .sdi-info {
        float: left;
        width: 393px;
        color: #555;
        margin-left: 10px;
      }

      .sdii-title {
        font-weight: 600;
      }

      .sdii-author {
        color: #b1b1b1;
      }

      .sdii-content {
        margin-top: 4px;

        em {
          color: #ff5c5c;
          font-weight: 600;
          font-style: normal;
        }
      }
  }
}

.user-dropdown {
  display: none;
  position: absolute;
  width: 170px;
  background: white;
  border-radius: 4px;
  margin: 52px 0 0 940px;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);

  a {
    &:first-child {
      margin-top: 0;
    }
    display: block;
    color: #555;
    margin-top: 20px;
  }
}

.book-list {
  display: -webkit-flex;
  display: flex;
  list-style: none;
  padding: 30px;
  overflow: hidden;
  flex-wrap: wrap;

  a {
    display: block;
  }

  li {
    margin: 0 30px 30px 0;

    a:hover {
      text-decoration: none;
    }

    &:nth-child(6n) {
      margin-right: 0;
    }

    img {
      position: relative;
      z-index: 1;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
    }

    p {
      width: 160px;
      min-height: 140px;
      background: #24a965;
      color: #555;
      word-wrap: break-word;
      border: 1px solid #1f1f1f;
      margin: 0;
      padding: 10px;
      overflow: hidden;

      &:hover {
        border: 1px solid #24a965;
      }
    }
  }
}

.btn {
  background: #3681de;
  background: linear-gradient(#3681de, #2f72c5);
  color: white;
  border: 1px solid #1f6ed0;
  border-radius: 4px;
  padding: 4px 8px 6px;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  box-shadow: 0 2px 3px rgba(0,0,0,0.5);

  &:hover {
    text-decoration: none;
  }

  &:active {
    background: #2f72c5;
  }


}

.collections-container,.invite-container {
  padding: 30px;
  overflow: hidden;

  .g-title {
    margin-bottom: 10px;
    clear: both;
  }
}

.collections-container {

  .cc-manage {
    margin-bottom: 30px;
    overflow: hidden;

    a {
      float: left;
      &:last-child {
        margin-left: 10px;
      }
    }
  }

  .book-list {
    padding: 0;
  }

  .no-collection {
    color: #777;
    margin-bottom: 20px;
  }

  .new-collection-btn {
      float: left;
      margin-bottom: 30px;
  }

  .collection-item {
    float: left;
    margin: 0 22px 20px 0;
    overflow: hidden;

    .collection-cover {
      width: 130px;
      height: 156px;
      background: #d7dadc;

      img {
        float: left;
        width: 65px;
        height: 78px;
      }
    }

    p {
      width: 120px;
      color: #555;
      margin-top: 10px;
    }

    &:nth-child(6n) {
      margin-right: 0;
    }
  }
}

.invite-container {
  .invite-box,.tagsinput {
    display: block;
    width: 350px;
    height: 28px;
    margin-bottom: 20px;
  }

  .tagsInput {
    div {
      height: 28px;
    }
  }
}

.nc-form {
  .nc-title {
    width: 478px;
  }

  .nc-book-list {
    display: block;
    list-style: none;
    width: 478px;
    height: 306px;
    background: white;
    border: 1px solid #d7dadc;
    margin: 20px 0 20px;
    padding: 10px;
    overflow-y: auto;
  }

  li {
    float: left;
    margin-right: 20px;
    margin: 0 20px 20px 0;
    overflow: hidden;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .nc-checkbox {
    float: left;
    margin-right: 10px;
  }

  .nc-img {
    float: left;
    border: 1px solid #d7dadc;
  }
}

#dropzone_container {
  display: block;
  padding: 0;
  overflow: hidden;
}

.dz-preview {
  position: relative;
  float: left;
  width: 110px;
  height: 132px;
  margin: 15px 17.6px 20px 15px;

  .dz-size,.dz-filename,.dz-error-message,.dz-success-mark,.dz-error-mark {
    display: none;
  }

  .dz-image {
    img {
      width: 110px;
      height: 132px;
    }
  }

  .dz-progress {
    width: 110px;
    height: 8px;
    background: #b3b3b3;
    position: absolute;
    top: 124px;

    .dz-upload {
      float: left;
      height: 8px;
      background: #22a764;
    }
  }
}

#outerContainer {
  header,.toolbar {
    -webkit-transition: left 0.2s; /* Safari */
    transition: left 0.2s;
  }
  &.sidebarOpen {
    header,.toolbar {
      left: 200px;
    }
  }
}

#mainContainer {
  background: white;

  .toolbar {
    width: 100%;
    margin: 0;
    background: #5f5f5f;
    
    #toolbarContainer {
      box-shadow: none;
      background: #5f5f5f;
    }
  }

  .page {
    border: none;
    margin-bottom: 30px;

    .canvasWrapper {
      border: 1px solid #d7dadc;
    }
  }
}

#pdfBody {
  overflow: hidden;

  header {
    position: fixed!important;
    width: 100%!important;
    z-index: 9999999;
  }


  .toolbar {
    position: fixed!important;
    top: 66px!important;
  }
}

.del-book-btn {
  float: right;
  margin-top: 16px;
}
