body, input {
  font-family: 'Open Sans', sans-serif!important;
  font-size: 13px;
  color: #555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  &:hover,&.active {
    text-decoration: underline;
  }
}

.page-container {
  width: 920px;
  background: #f3f3f3;
  min-height: 640px;
  margin: 0 auto 50px;
  overflow: hidden;

  &.drag-over {
    border: 1px dashed #777;
  }
}

.g-title {
  font-weight: 600;
}

input[type="text"] {
  outline: none;
  border: 1px solid #d6d6d6;
  padding: 4px 8px;
}

header {
  position: relative;
  width: 100%;
  height: 44px;
  background: #5082B3;
  color: white;
  padding: 0 15px;
  z-index: 999;
}

.logo {
  float: left;
  font-size: 16px;
  color: white;
  text-decoration: none;
  padding-top: 9px;

  &:hover {
    text-decoration: none;
  }
}

.search-box {
  float: left;
  width: 420px;
  background: white;
  margin: 7px 0 0 20px;
  padding: 0 10px;
  outline: none;
}

.management {
  float: right;

  a,div {
    float: left;
    color: white;
    margin-top: 12px;
    margin-right: 20px;
    cursor: pointer;

    &:hover {
      text-decoration: underline
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .user {
    margin-top: 0;

    .first-name {
      float: left;
      margin: 12px 5px 0 0;
    }

    svg {
      float: left;
      margin-top: 18px;
    }

    &:hover {
      .first-name {
        text-decoration: underline;
      }
    }
  }
}

.search-dropdown {
  display: none;
  position: absolute;
  width: 420px;
  height: 400px;
  background: white;
  color: #555;
  border: 1px solid #d6d6d6;
  margin: 37px 0 0 95px;
  padding: 10px;
  overflow-y: auto;

  .metadata,.content {
    overflow: hidden;
    .title {
      background: #f3f3f3;
      text-align: center;
      padding: 3px 0;
      margin-bottom: 10px;
    }
  }

  .none {
    display: none;
  }

  .metadata {

  }

  .content {
    margin: 30px 0 20px;
  }

  ul {
    list-style: none;

    li {
      margin-bottom: 20px;
      overflow: hidden;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .sd-item {
      img {
        float: left;
        border: 1px solid #d6d6d6;
      }

      .sdi-info {
        float: left;
        width: 310px;
        color: #555;
        margin-left: 10px;
      }

      .sdii-title {
        font-weight: 600;
      }

      .sdii-author {
        color: #777;
      }

      .sdii-content {
        margin-top: 4px;

        em {
          color: #5082B3;
          font-weight: 600;
          font-style: normal;
        }
      }
  }
}

.user-dropdown {
  display: none;
  position: absolute;
  width: 130px;
  background: white;
  border: 1px solid #d6d6d6;
  right: 0;
  margin: 44px 15px 0 0;
  padding: 10px;

  a {
    &:first-child {
      margin-top: 0;
    }
    display: block;
    color: #555;
    margin-top: 15px;
  }
}

.book-list {
  display: block;
  list-style: none;
  padding: 0 15px 30px;
  overflow: hidden;

  a {
    display: block;
    height: 132px;
    background: #ccc;
  }

  li {
    float: left;
    margin: 0 17.6px 20px 0;
    border: 1px solid #d6d6d6;

    &:nth-child(7n) {
      margin-right: 0;
    }

    img {
      position: relative;
      z-index: 1;
    }

    p {
      width: 100px;
      height: 90px;
      color: #555;
      word-wrap: break-word;
      margin: -102px 0 0 5px;
      overflow: hidden;
    }
  }
}

.btn {
  background: #d6d6d6;
  background: linear-gradient(#ededed,#d6d6d6);
  color: #444;
  border: 1px solid #aaa;
  padding: 4px 8px;
  text-decoration: none;
  cursor: pointer;
  outline: none;

  &:hover {
    text-decoration: none;
  }

  &:active {
    background: #d6d6d6;
  }


}

.collections-container {
  padding: 30px 15px;
  overflow: hidden;

  .cc-manage {
    margin-bottom: 30px;
    overflow: hidden;

    a {
      float: left;
      &:last-child {
        margin-left: 10px;
      }
    }
  }

  .g-title {
    margin-bottom: 10px;
    clear: both;
  }

  .book-list {
    padding: 0;
  }

  .no-collection {
    color: #777;
    margin-bottom: 20px;
  }

  .new-collection-btn {
      float: left;
      margin-bottom: 30px;
  }

  .collection-item {
    float: left;
    margin: 0 22px 20px 0;
    overflow: hidden;

    .collection-cover {
      width: 130px;
      height: 156px;
      background: #d6d6d6;

      img {
        float: left;
        width: 65px;
        height: 78px;
      }
    }

    p {
      width: 120px;
      color: #555;
      margin-top: 10px;
    }

    &:nth-child(6n) {
      margin-right: 0;
    }
  }
}

.nc-form {
  .nc-title {
    width: 478px;
  }

  .nc-book-list {
    display: block;
    list-style: none;
    width: 478px;
    height: 306px;
    background: white;
    border: 1px solid #d6d6d6;
    margin: 20px 0 20px;
    padding: 10px;
    overflow-y: auto;
  }

  li {
    float: left;
    margin-right: 20px;
    margin: 0 20px 20px 0;
    overflow: hidden;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .nc-checkbox {
    float: left;
    margin-right: 10px;
  }

  .nc-img {
    float: left;
    border: 1px solid #d6d6d6;
  }
}

#dropzone_container {
  display: block;
  padding: 30px 0 0 15px;
  overflow: hidden;
}

.dz-preview {
  position: relative;
  float: left;
  width: 110px;
  height: 132px;
  margin: 0 17.6px 20px 0;

  .dz-size,.dz-filename,.dz-error-message,.dz-success-mark,.dz-error-mark {
    display: none;
  }

  .dz-image {
    img {
      width: 110px;
      height: 132px;
    }
  }

  .dz-progress {
    width: 110px;
    height: 8px;
    background: #b3b3b3;
    position: absolute;
    top: 124px;

    .dz-upload {
      float: left;
      height: 8px;
      background: #22a764;
    }
  }
}

#mainContainer {
  background: white;

  .toolbar {
    width: 920px;
    margin: 0 auto;

    #toolbarContainer {
      box-shadow: none;
      background: #999;
    }
  }

  .page {
    border: none;
    margin-bottom: 30px;

    .canvasWrapper {
      border: 1px solid #d6d6d6;
    }
  }
}

#pdfBody {
  overflow: hidden;

  header {
    position: fixed!important;
    width: 920px!important;
    left: 50%;
    margin-left: -460px;
    z-index: 9999999;
  }


  .toolbar {
    position: fixed!important;
    top: 44px!important;
  }
}

.del-book-btn {
  float: right;
  margin-top: 8px;
}
