body, input {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  color: #555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  &:hover,&.active {
    text-decoration: underline;
  }
}

.page-container {
  width: 1102px;
  background: #fafafb;
  border: 1px solid #e6eaef;
  border-top: none;
  min-height: 640px;
  margin: 0 auto 50px;
  overflow: hidden;

  &.drag-over {
    border: 1px dashed #777;
  }

  &.landing-container {
    background: white;

    .sign-link:last-child {
      margin-right: 20px;
    }
  }
}

.sign-link {
  float: right;
  color: white;
  margin-top: 11px;
}

.sign-form {
  display: block;
  width: 200px;
  margin: 160px auto;

  input {
    display: block;
    width: 100%;
    margin-bottom: 10px;

    &.submit-btn {
      width: auto;
      margin: 0 auto;
    }
  }

  label {
    display: block;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
  }
}

.g-title {
  font-weight: 600;
}

input[type="text"],input[type="password"] {
  outline: none;
  border: 1px solid #cfd3d6;
  padding: 4px 8px;

  &:focus {
    border: 1px solid #558cc1;
  }
}

header {
  position: relative;
  width: 1102px;
  height: 44px;
  background: #558cc1;
  color: white;
  margin: 0 auto;
  padding: 0 20px;
  z-index: 999;
}

.logo {
  float: left;
  font-family: 'Droid Sans', sans-serif;
  font-size: 18px;
  color: white;
  text-decoration: none;
  padding-top: 11px;

  &:hover {
    text-decoration: none;
  }
}

.search-box {
  float: left;
  width: 420px;
  background: white;
  border: 1px solid #fff!important;
  margin: 7px 0 0 25px;
  padding: 0 10px;
  outline: none;

  &:focus {
    border: 1px solid #fff!important;
  }
}

.management {
  float: right;

  a,div {
    float: left;
    color: white;
    margin-top: 11px;
    margin-right: 25px;
    cursor: pointer;

    &:hover {
      text-decoration: underline
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .user {
    margin-top: 0;

    .first-name {
      float: left;
      margin: 11px 5px 0 0;
    }

    svg {
      float: left;
      margin-top: 16px;
    }

    &:hover {
      .first-name {
        text-decoration: underline;
      }
    }
  }
}

.search-dropdown {
  display: none;
  position: absolute;
  width: 420px;
  height: 400px;
  background: white;
  color: #555;
  border: 1px solid #cfd3d6;
  border-top: none;
  margin: 37px 0 0 101px;
  padding: 10px;
  overflow-y: auto;

  .metadata,.content {
    overflow: hidden;
    .title {
      background: #f3f3f3;
      text-align: center;
      padding: 3px 0;
      margin-bottom: 10px;
    }
  }

  .none {
    display: none;
  }

  .metadata {

  }

  .content {
    margin: 30px 0 20px;
  }

  ul {
    list-style: none;

    li {
      margin-bottom: 20px;
      overflow: hidden;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .sd-item {
      img {
        float: left;
        border: 1px solid #cfd3d6;
      }

      .sdi-info {
        float: left;
        width: 310px;
        color: #555;
        margin-left: 10px;
      }

      .sdii-title {
        font-weight: 600;
      }

      .sdii-author {
        color: #777;
      }

      .sdii-content {
        margin-top: 4px;

        em {
          color: #5082B3;
          font-weight: 600;
          font-style: normal;
        }
      }
  }
}

.user-dropdown {
  display: none;
  position: absolute;
  width: 130px;
  background: white;
  border: 1px solid #cfd3d6;
  border-top: none;
  right: 0;
  margin: 44px 15px 0 0;
  padding: 10px;

  a {
    &:first-child {
      margin-top: 0;
    }
    display: block;
    color: #555;
    margin-top: 15px;
  }
}

.book-list {
  display: -webkit-flex;
  display: flex;
  list-style: none;
  padding: 15px 20px;
  overflow: hidden;
  flex-wrap: wrap;

  a {
    display: block;
  }

  li {
    margin: 0 25px 30px 0;

    &:nth-child(7n) {
      margin-right: 0;
    }

    img {
      position: relative;
      z-index: 1;
      border: 1px solid #cfd3d6;

      &:hover {
        border: 1px solid #558cc1;
      }
    }

    p {
      width: 130px;
      min-height: 140px;
      background: white;
      color: #555;
      word-wrap: break-word;
      border: 1px solid #cfd3d6;
      margin: 0;
      padding: 10px;
      overflow: hidden;
    }
  }
}

.btn {
  background: #cfd3d6;
  background: linear-gradient(#ededed,#cfd3d6);
  color: #444;
  border: 1px solid #aaa;
  padding: 4px 8px 6px;
  text-decoration: none;
  cursor: pointer;
  outline: none;

  &:hover {
    text-decoration: none;
  }

  &:active {
    background: #cfd3d6;
  }


}

.collections-container,.invite-container {
  padding: 30px 15px;
  overflow: hidden;

  .g-title {
    margin-bottom: 10px;
    clear: both;
  }
}

.collections-container {

  .cc-manage {
    margin-bottom: 30px;
    overflow: hidden;

    a {
      float: left;
      &:last-child {
        margin-left: 10px;
      }
    }
  }

  .book-list {
    padding: 0;
  }

  .no-collection {
    color: #777;
    margin-bottom: 20px;
  }

  .new-collection-btn {
      float: left;
      margin-bottom: 30px;
  }

  .collection-item {
    float: left;
    margin: 0 22px 20px 0;
    overflow: hidden;

    .collection-cover {
      width: 130px;
      height: 156px;
      background: #cfd3d6;

      img {
        float: left;
        width: 65px;
        height: 78px;
      }
    }

    p {
      width: 120px;
      color: #555;
      margin-top: 10px;
    }

    &:nth-child(6n) {
      margin-right: 0;
    }
  }
}

.invite-container {
  .invite-box,.tagsinput {
    display: block;
    width: 350px;
    height: 28px;
    margin-bottom: 20px;
  }

  .tagsInput {
    div {
      height: 28px;
    }
  }
}

.nc-form {
  .nc-title {
    width: 478px;
  }

  .nc-book-list {
    display: block;
    list-style: none;
    width: 478px;
    height: 306px;
    background: white;
    border: 1px solid #cfd3d6;
    margin: 20px 0 20px;
    padding: 10px;
    overflow-y: auto;
  }

  li {
    float: left;
    margin-right: 20px;
    margin: 0 20px 20px 0;
    overflow: hidden;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .nc-checkbox {
    float: left;
    margin-right: 10px;
  }

  .nc-img {
    float: left;
    border: 1px solid #cfd3d6;
  }
}

#dropzone_container {
  display: block;
  padding: 0;
  overflow: hidden;
}

.dz-preview {
  position: relative;
  float: left;
  width: 110px;
  height: 132px;
  margin: 15px 17.6px 20px 15px;

  .dz-size,.dz-filename,.dz-error-message,.dz-success-mark,.dz-error-mark {
    display: none;
  }

  .dz-image {
    img {
      width: 110px;
      height: 132px;
    }
  }

  .dz-progress {
    width: 110px;
    height: 8px;
    background: #b3b3b3;
    position: absolute;
    top: 124px;

    .dz-upload {
      float: left;
      height: 8px;
      background: #22a764;
    }
  }
}

#outerContainer {
  header,.toolbar {
    -webkit-transition: left 0.2s; /* Safari */
    transition: left 0.2s;
  }
  &.sidebarOpen {
    header {
      left: 56.8%;
    }
    .toolbar {
      left: 13.6%;
    }
  }
}

#mainContainer {
  background: white;

  .toolbar {
    width: 1024px;
    margin: 0 auto;

    #toolbarContainer {
      box-shadow: none;
      background: #a2a2a2;
    }
  }

  .page {
    border: none;
    margin-bottom: 30px;

    .canvasWrapper {
      border: 1px solid #cfd3d6;
    }
  }
}

#pdfBody {
  overflow: hidden;

  header {
    position: fixed!important;
    width: 1024px!important;
    left: 50%;
    margin-left: -512px;
    z-index: 9999999;
  }


  .toolbar {
    position: fixed!important;
    top: 44px!important;
  }
}

.del-book-btn {
  float: right;
  margin-top: 6px;
}
