// Font weights
$regular: 400;
$semi-bold: 600;
$bold: 700;

// Brand color
$brand-primary: #DD4E4E;
$bg-color: white;

// Base Font
$base-font-family: 'Source Sans Pro', sans-serif;
$base-font-weight: $regular;
$base-font-size: 17px;
$base-font-color: #555;
$base-line-height: 24px;

// Menu color
$menu-font-color: #BFBFBF;

// Dropdown
$border: 1px solid #DBDBDB;
$border-radius: 2px;
$border-shadow: 0 0 5px rgba(0,0,0,0.10);