// Font weights
$regular: 400;
$semi-bold: 600;
$bold: 700;

// Brand color
$brand-primary: #DA6767;

// Base Font
$base-font-family: 'Source Sans Pro', sans-serif;
$base-font-weight: $regular;
$base-font-size: 17px;
$base-font-color: #555;
$base-line-height: 24px;

// Menu color
$menu-font-color: #BFBFBF;

// Logo
$logo-font-family: 'Rancho', cursive;
$logo-font-weight: $regular;
$logo-font-size: 38px;
$logo-font-color: $brand-primary;
$logo-line-height: 60px;