body {
	font-family: $base-font-family;
	font-size: $base-font-size;
	font-weight: $base-font-weight;
	color: $base-font-color;
	line-height: $base-line-height;
}

.logo {
	font-family: $logo-font-family;
	font-size: $logo-font-size;
	font-weight: $logo-font-weight;
	color: $logo-font-color;
	line-height: $logo-line-height;
}