body {
	display: block;
	font-family: 'Helvetica Neue', 'Helvetica', serif;
	font-size: 16px;
	line-height: 25px;
	background: #FFFFF8;
	width: 100%;
	height: auto;
}

svg, img, image {
	height: auto!important;
}