body, input {
  font-family: "Open Sans", sans-serif !important;
  font-size: 13px;
  color: #555; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }
  a:hover, a.active {
    text-decoration: underline; }

.page-container {
  width: 920px;
  background: #f3f3f3;
  min-height: 640px;
  margin: 0 auto;
  overflow: hidden; }
  .page-container.drag-over {
    border: 1px dashed #777; }

.g-title {
  font-weight: 600; }

input[type="text"] {
  outline: none;
  border: 1px solid #d6d6d6;
  padding: 4px 8px; }

header {
  position: relative;
  width: 100%;
  height: 44px;
  background: #5082B3;
  color: white;
  padding: 0 15px; }

.logo {
  float: left;
  font-size: 16px;
  color: white;
  text-decoration: none;
  padding-top: 9px; }
  .logo:hover {
    text-decoration: none; }

.search-box {
  float: left;
  width: 420px;
  background: white;
  margin: 7px 0 0 20px;
  padding: 0 10px;
  outline: none; }

.management {
  float: right; }
  .management a, .management div {
    float: left;
    color: white;
    margin-top: 12px;
    margin-right: 20px;
    cursor: pointer; }
    .management a:hover, .management div:hover {
      text-decoration: underline; }
    .management a:last-child, .management div:last-child {
      margin-right: 0; }
  .management .user {
    margin-top: 0; }
    .management .user .first-name {
      float: left;
      margin: 12px 5px 0 0; }
    .management .user svg {
      float: left;
      margin-top: 18px; }
    .management .user:hover .first-name {
      text-decoration: underline; }

.search-dropdown {
  display: none;
  position: absolute;
  width: 420px;
  height: 400px;
  background: white;
  color: #555;
  border: 1px solid #d6d6d6;
  margin: 37px 0 0 95px;
  padding: 10px;
  overflow-y: auto; }
  .search-dropdown .metadata, .search-dropdown .content {
    overflow: hidden; }
    .search-dropdown .metadata .title, .search-dropdown .content .title {
      background: #f3f3f3;
      text-align: center;
      padding: 3px 0;
      margin-bottom: 10px; }
  .search-dropdown .none {
    display: none; }
  .search-dropdown .content {
    margin: 30px 0 20px; }
  .search-dropdown ul {
    list-style: none; }
    .search-dropdown ul li {
      margin-bottom: 20px;
      overflow: hidden; }
      .search-dropdown ul li:last-child {
        margin-bottom: 0; }
  .search-dropdown .sd-item img {
    float: left;
    border: 1px solid #d6d6d6; }
  .search-dropdown .sd-item .sdi-info {
    float: left;
    width: 310px;
    color: #555;
    margin-left: 10px; }
  .search-dropdown .sd-item .sdii-title {
    font-weight: 600; }
  .search-dropdown .sd-item .sdii-author {
    color: #777; }
  .search-dropdown .sd-item .sdii-content {
    margin-top: 4px; }
    .search-dropdown .sd-item .sdii-content em {
      color: #5082B3;
      font-weight: 600;
      font-style: normal; }

.user-dropdown {
  display: none;
  position: absolute;
  width: 130px;
  background: white;
  border: 1px solid #d6d6d6;
  right: 0;
  margin: 44px 15px 0 0;
  padding: 10px; }
  .user-dropdown a {
    display: block;
    color: #555;
    margin-top: 15px; }
    .user-dropdown a:first-child {
      margin-top: 0; }

.book-list {
  display: block;
  list-style: none;
  padding: 30px 15px;
  overflow: hidden; }
  .book-list a {
    display: block;
    height: 132px; }
  .book-list li {
    float: left;
    margin: 0 17.6px 20px 0;
    border: 1px solid #d6d6d6; }
    .book-list li:nth-child(7n) {
      margin-right: 0; }

.btn {
  background: #d6d6d6;
  background: linear-gradient(#ededed, #d6d6d6);
  color: #444;
  border: 1px solid #aaa;
  padding: 4px 8px;
  text-decoration: none;
  cursor: pointer;
  outline: none; }
  .btn:hover {
    text-decoration: none; }
  .btn:active {
    background: #d6d6d6; }

.collections-container {
  padding: 30px 15px;
  overflow: hidden; }
  .collections-container .g-title {
    margin-bottom: 10px;
    clear: both; }
  .collections-container .book-list {
    padding: 0; }
  .collections-container .no-collection {
    color: #777;
    margin-bottom: 20px; }
  .collections-container .new-collection-btn {
    float: left;
    margin-bottom: 30px; }
  .collections-container .collection-item {
    float: left;
    margin: 0 22px 20px 0;
    overflow: hidden; }
    .collections-container .collection-item .collection-cover {
      width: 130px;
      height: 156px;
      background: #d6d6d6; }
      .collections-container .collection-item .collection-cover img {
        float: left;
        width: 65px;
        height: 78px; }
    .collections-container .collection-item p {
      width: 120px;
      color: #555;
      margin-top: 10px; }
    .collections-container .collection-item:nth-child(6n) {
      margin-right: 0; }

.nc-form .nc-title {
  width: 478px; }

.nc-form .nc-book-list {
  display: block;
  list-style: none;
  width: 478px;
  height: 306px;
  background: white;
  border: 1px solid #d6d6d6;
  margin: 20px 0 20px;
  padding: 10px;
  overflow-y: auto; }

.nc-form li {
  float: left;
  margin-right: 20px;
  margin: 0 20px 20px 0;
  overflow: hidden; }
  .nc-form li:nth-child(3n) {
    margin-right: 0; }

.nc-form .nc-checkbox {
  float: left;
  margin-right: 10px; }

.nc-form .nc-img {
  float: left;
  border: 1px solid #d6d6d6; }
