body, input {
  font-family: "Open Sans", sans-serif !important;
  font-size: 13px;
  color: #444; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }
  a:hover, a.active {
    text-decoration: underline; }

.page-container {
  width: 920px;
  background: #f3f3f3;
  min-height: 640px;
  margin: 0 auto; }

header {
  position: relative;
  width: 100%;
  height: 44px;
  background: #5082B3;
  color: white;
  padding: 0 15px; }

.logo {
  float: left;
  font-size: 18px;
  color: white;
  text-decoration: none;
  padding-top: 9px; }
  .logo:hover {
    text-decoration: none; }

.search-box {
  float: left;
  width: 420px;
  height: 28px;
  background: white;
  border: 1px solid #d6d6d6;
  margin: 7px 0 0 20px;
  padding: 0 10px;
  outline: none; }

.management {
  float: right; }
  .management a {
    float: left;
    color: white;
    margin-top: 12px;
    margin-right: 20px; }
    .management a:last-child {
      margin-right: 0; }
  .management .user {
    margin-top: 0; }
    .management .user img {
      float: left;
      margin-top: 7px;
      margin: 7px 5px 0 0; }
    .management .user .first-name {
      float: left;
      margin: 12px 5px 0 0; }
    .management .user svg {
      float: left;
      margin-top: 18px; }
    .management .user:hover .first-name {
      text-decoration: underline; }

.user-dropdown {
  display: none;
  position: absolute;
  width: 130px;
  background: white;
  border: 1px solid #d6d6d6;
  right: 0;
  margin: 44px 15px 0 0;
  padding: 10px; }
  .user-dropdown a {
    display: block;
    color: #444;
    margin-top: 15px; }
    .user-dropdown a:first-child {
      margin-top: 0; }
