{% extends "layout.html" %}
{% block content %}
	<header>
		<div class="content">
			<div class="search-label">
				<svg width="20" height="20" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg"><title>ui-48px-outline-1_zoom</title><g transform="translate(1 1)" stroke-width="2" stroke="#BFBFBF" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"><path d="M20 20l-5.381-5.381"/><circle cx="8.571" cy="8.571" r="8.571"/></g></svg>
				<label>Search</label>
			</div>
			<div class="o-search-label">
				<svg width="30" height="30" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><title>ui-48px-outline-1_simple-remove</title><path d="M29 1L1 29m28 0L1 1" stroke-width="2" stroke="#555" fill="none" stroke-linecap="round" stroke-linejoin="round"/></svg>
				<input type="text" placeholder="Search">
			</div>
			<a href="/" class="logo"></a>
			<div class="user-label">
				<img src="/static/images/richard_bw.jpeg">
				<svg width="14" height="7" viewBox="0 0 16 9" xmlns="http://www.w3.org/2000/svg"><title>Shape</title><path d="M1 1l7 7 7-7" stroke-width="2" stroke="#BFBFBF" fill="none" stroke-linecap="round" stroke-linejoin="round"/></svg>
			</div>
			<a class="header-link collection-label" href="">Collections</a>
			<div class="user-dropdown">
				<a href="">Invite users</a>
				<a href="">Account settings</a>
				<a href="">Sign out</a>
			</div>
		</div>
	</header>
	<div class="book-container">
		<ul class="book-list">
			<li class="anb-item">
				<a href="">
					<svg class="nc-icon outline" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><g fill="none" stroke="#555" stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round" stroke-linecap="round"><path data-cap="butt" data-color="color-2" d="M2 32h12m0 0h12m5.509.107l11.893-1.598"/><path d="M2 4h12v40H2z"/><path data-color="color-2" d="M8 10v10"/><path d="M14 4h12v40H14z"/><path data-color="color-2" d="M20 10v10"/><path d="M27.782 4.357L39.675 2.76l5.324 39.644L33.106 44z"/><path data-color="color-2" d="M34.527 9.504l1.331 9.911"/></g></svg>
					<label>Add new books</label>
				</a>
			</li>
			<li class="cd-item">
				<a href="">Collections ></a>
				<div class="cdi-title">June Reading List</div>
				<div class="cdi-desc">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
			</li>
      		<li>
        		<a href="">
            		<img src="static/images/Thinking_Functionally_with_Haskell-001-000.png" width="182px">
        		</a>
      		</li>
      		<li>
        		<a href="">
            		<img src="static/images/true-001-000.png" width="182px">
        		</a>
      		</li>
      		<li>
        		<a href="">
            		<img src="static/images/A_Great_Emergency_and_Other_Tales-001-000.png" width="182px">
        		</a>
      		</li>
      		<li>
        		<a href="">
            		<img src="static/images/Thinking_Functionally_with_Haskell-001-000.png" width="182px">
        		</a>
      		</li>
      		<li>
        		<a href="">
            		<img src="static/images/A_Great_Emergency_and_Other_Tales-001-000.png" width="182px">
        		</a>
      		</li>
  		</ul>
	</div>
	<div class="search-container">
		<div class="title-list">
			<label>Title</label>
			<ul>
				<li>
					<a href="">
						<img src="static/images/Thinking_Functionally_with_Haskell-001-000.png" width="100px">
						<div class="s-t-content">
							<div class="s-title">Thinking Functionally with Haskell</div>
							<div class="s-author">Richard Bird</div>
						</div>
					</a>
				</li>
				<li>
					<a href="">
						<img src="static/images/Thinking_Functionally_with_Haskell-001-000.png" width="100px">
						<div class="s-t-content">
							<div class="s-title">Thinking Functionally with Haskell</div>
							<div class="s-author">Richard Bird</div>
						</div>
					</a>
				</li>
			</ul>
		</div>
		<div class="content-list">
			<label>Content</label>
			<ul>
				<li>
					<a href="">
						<img src="static/images/Thinking_Functionally_with_Haskell-001-000.png" width="100px">
						<div class="s-t-content">
							<div class="s-title">Thinking Functionally with Haskell</div>
							<div class="s-author">Richard Bird</div>
							<div class="s-content">Having to send the username and the password with every request is inconvenient and can be seen as a security risk even if the transport is secure HTTP, since the client application <em>must have those credentials</em> stored without encryption to be able to send them with the requests.</div>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="collection-container">
		<label>Collections</label>
		<ul class="collection-list">
			<li class="anc-item">
				<a href="">
					<svg class="nc-icon outline" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><g fill="none" stroke="#BFBFBF" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" stroke-linejoin="round"><path data-color="color-2" d="M38 9v6m-6-6v6m-6-6v6m-6 0h-6m26 20h-6m-12-6v6m-6-6v6m12-6v6m-18-6v6m-4 7v4m36-4v4"/><path d="M2 22h44M2 2h44v40H2z"/></g></svg>
					<label>Add new collection</label>
				</a>
			</li>
			<li>
				<a href="/collections/june-reading-list">
					<div class="collection-image"></div>
					<div class="collection-title">June Reading List</div>
				</a>
			</li>
			<li>
				<a href="/collections/june-reading-list">
					<div class="collection-image"></div>
					<div class="collection-title">Must Read List on Rust</div>
				</a>
			</li>
			<li>
				<a href="/collections/june-reading-list">
					<div class="collection-image"></div>
					<div class="collection-title">Books on Algorithms</div>
				</a>
			</li>
			<li>
				<a href="/collections/june-reading-list">
					<div class="collection-image"></div>
					<div class="collection-title">Favorite Novels</div>
				</a>
			</li>
			<li>
				<a href="/collections/june-reading-list">
					<div class="collection-image"></div>
					<div class="collection-title">June Reading List</div>
				</a>
			</li>
		</ul>
	</div>
{% endblock %}