<!DOCTYPE html>
<html>
<head>
	<title>LibreRead - Sign in</title>
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/static/css/style.min.css"
</head>
<body>
	<header>
		<div class="content">
			<a href="/" class="logo"></a>
			<a class="header-link collection-label" href="">Sign up</a>
		</div>
	</header>
	<div class="auth-container">
		<form class="auth-form">
			<label>Sign in</label>
			<input class="email-field" type="text" placeholder="Email">
			<input class="password-field" type="password" placeholder="Password">
			<input type="submit" value="Submit">
		</form>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script type="text/javascript" src="static/js/main.js"></script>
</body>
</html>