.book-container {
	width: 1170px;
	min-height: 400px;
	background: $bg-color;
	color: $base-font-color;
	margin: 0 auto;
	padding: 50px 30px;

	&.collection-detail {
		.book-list {
			li {
				&:nth-child(5n) {
					margin-right: 0!important;
				}

				&:nth-child(5n + 1) {
					margin-right: 50px!important;
				}
			}
		}
	}

	.book-list {
		width: 100%;

		li {
			float: left;
			margin: 0 50px 50px 0;
			transition: box-shadow 0.8s linear;

			&:first-child,&:nth-child(5) {
				margin-right: 50px!important;
			}

			&:nth-child(5n + 1) {
				margin-right: 0;
			}

			img {
				box-shadow: 0 12px 40px rgba(0,0,0,0.5);
			}

			&.book-jelly {
				-webkit-animation: book-jelly 1.3s linear both;
  				animation: book-jelly 1.3s linear both;

  				img {
  					box-shadow: 0 12px 60px rgba(0,0,0,0.4);
  				}
			}

			&.anb-item {
				width: 182px;
    			height: 260px;
    			border: 3px dashed #BFBFBF;
    			cursor: pointer;

				a {
					display: block;
    				text-align: center;
    				color: #BFBFBF;
    				font-size: 20px;
    				margin-top: 70px;

    				svg {
    					display: block;
    					margin: 0 auto 20px;
    					cursor: pointer;

    					g {
    						stroke: #BFBFBF;
    					}
    				}

    				label {
    					cursor: pointer;
    				}
				}
			}

			&.cd-item {
				display: none;
				width: 414px;
				min-height: 260px;
    			border: 5px solid #777;
    			padding: 15px;

    			a {
    				display: block;
    				color: $brand-primary;
    				margin-bottom: 15px;
    			}

    			.cdi-title {
    				font-size: 25px;
    				font-weight: 600;
    				margin-bottom: 10px;
    			}
			}
		}
	}
}