body {
  background: white; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #555;
  line-height: 24px; }

@keyframes drop-down {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -10, 0, 1);
    opacity: 0; }
  4% {
    transform: matrix3d(0.96758, 0, 0, 0, 0, 0.96758, 0, 0, 0, 0, 1, 0, 0, -6.46592, 0, 1); }
  8% {
    transform: matrix3d(0.96176, 0, 0, 0, 0, 0.96176, 0, 0, 0, 0, 1, 0, 0, -2.91725, 0, 1); }
  12% {
    transform: matrix3d(0.96958, 0, 0, 0, 0, 0.96958, 0, 0, 0, 0, 1, 0, 0, -0.25224, 0, 1);
    opacity: 1; }
  16% {
    transform: matrix3d(0.98144, 0, 0, 0, 0, 0.98144, 0, 0, 0, 0, 1, 0, 0, 1.26207, 0, 1); }
  20% {
    transform: matrix3d(0.99188, 0, 0, 0, 0, 0.99188, 0, 0, 0, 0, 1, 0, 0, 1.76942, 0, 1); }
  24% {
    transform: matrix3d(0.99884, 0, 0, 0, 0, 0.99884, 0, 0, 0, 0, 1, 0, 0, 1.60106, 0, 1); }
  28% {
    transform: matrix3d(1.0023, 0, 0, 0, 0, 1.0023, 0, 0, 0, 0, 1, 0, 0, 1.10713, 0, 1); }
  32% {
    transform: matrix3d(1.00324, 0, 0, 0, 0, 1.00324, 0, 0, 0, 0, 1, 0, 0, 0.56005, 0, 1); }
  36% {
    transform: matrix3d(1.00278, 0, 0, 0, 0, 1.00278, 0, 0, 0, 0, 1, 0, 0, 0.12148, 0, 1); }
  40% {
    transform: matrix3d(1.00181, 0, 0, 0, 0, 1.00181, 0, 0, 0, 0, 1, 0, 0, -0.14782, 0, 1); }
  44% {
    transform: matrix3d(1.00088, 0, 0, 0, 0, 1.00088, 0, 0, 0, 0, 1, 0, 0, -0.25729, 0, 1); }
  48% {
    transform: matrix3d(1.00021, 0, 0, 0, 0, 1.00021, 0, 0, 0, 0, 1, 0, 0, -0.25225, 0, 1); }
  52% {
    transform: matrix3d(0.99986, 0, 0, 0, 0, 0.99986, 0, 0, 0, 0, 1, 0, 0, -0.18613, 0, 1); }
  56% {
    transform: matrix3d(0.99973, 0, 0, 0, 0, 0.99973, 0, 0, 0, 0, 1, 0, 0, -0.10336, 0, 1); }
  60% {
    transform: matrix3d(0.99975, 0, 0, 0, 0, 0.99975, 0, 0, 0, 0, 1, 0, 0, -0.03233, 0, 1); }
  64% {
    transform: matrix3d(0.99983, 0, 0, 0, 0, 0.99983, 0, 0, 0, 0, 1, 0, 0, 0.01446, 0, 1); }
  68% {
    transform: matrix3d(0.99991, 0, 0, 0, 0, 0.99991, 0, 0, 0, 0, 1, 0, 0, 0.03631, 0, 1); }
  72% {
    transform: matrix3d(0.99997, 0, 0, 0, 0, 0.99997, 0, 0, 0, 0, 1, 0, 0, 0.03908, 0, 1); }
  76% {
    transform: matrix3d(1.00001, 0, 0, 0, 0, 1.00001, 0, 0, 0, 0, 1, 0, 0, 0.03077, 0, 1); }
  80% {
    transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, 0, 0.01851, 0, 1); }
  84% {
    transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, 0, 0.00719, 0, 1); }
  88% {
    transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, 0, -0.00078, 0, 1); }
  92% {
    transform: matrix3d(1.00001, 0, 0, 0, 0, 1.00001, 0, 0, 0, 0, 1, 0, 0, -0.00493, 0, 1); }
  96% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.00594, 0, 1); }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 1; } }

header {
  width: 1170px;
  height: 80px;
  background: white;
  color: #BFBFBF;
  margin: 0 auto;
  padding: 0 30px; }
  header .logo {
    position: absolute;
    left: 50%;
    margin: 24px 0 0 -61px;
    background-image: url(../images/logo.png);
    background-size: 122px auto;
    background-repeat: no-repeat;
    width: 122px;
    height: 32px; }
  header .search-label {
    float: left;
    margin-top: 28px; }
    header .search-label svg, header .search-label label {
      float: left; }
    header .search-label svg {
      margin: 2px 15px 0 0; }
  header .user-label {
    float: right;
    margin-top: 24px;
    overflow: hidden;
    cursor: pointer; }
    header .user-label img {
      float: left;
      width: 32px;
      height: 32px;
      border-radius: 100%;
      opacity: 0.55;
      margin-right: 10px; }
    header .user-label svg {
      float: left;
      margin-top: 12px;
      transition: transform 0.2s linear; }
      header .user-label svg.rotate {
        transform: rotate(-180deg); }
  header .user-dropdown {
    display: none;
    position: absolute;
    width: 210px;
    height: auto;
    background: white;
    border: 1px solid #DBDBDB;
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-left: 900px;
    top: 66px;
    padding: 15px; }
    header .user-dropdown a {
      display: block;
      margin-bottom: 15px; }
      header .user-dropdown a:last-child {
        margin-bottom: 0; }
    header .user-dropdown .separator {
      width: 100%;
      height: 1px;
      background: #EEE;
      margin-bottom: 15px; }
    header .user-dropdown.anim-drop-down {
      animation: drop-down .5s ease-in-out both; }

a {
  color: #555;
  text-decoration: none; }
  a:hover {
    color: #DD4E4E; }
