body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	background: #FFFFF8;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::selection {
  background: #FF4848;
  color: white;
}
::-moz-selection {
  background: #FF4848;
  color: white;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	background: white;
	margin: 0 auto;
	border-bottom: 1px solid #DFDFDF;
	z-index: 999999;
	transition: top 0.2s ease-in-out;
}

.nav-up {
    top: -60px;
}

header .header-container {
	width: 1440px;
	margin: 0 auto;
	padding: 0 30px;
	overflow: hidden;
}

.logo {
	float: left;
	font-family: 'Droid Sans', sans-serif;
	font-size: 20px;
	color: #676767;
	text-decoration: none;
	margin-top: 18px;
	cursor: pointer;
}

.logo:hover {
	color: #FF4848;
}

.search-box {
	float: left;
	width: 480px;
	height: 36px;
	font-size: 14px;
	border: 1px solid #B1B1B1;
	margin-top: 12px;
	margin-left: 30px;
	padding: 0 10px;
	outline: none;
}

.search-box:focus {
	border: 1px solid #FF4848;
}

.search-dropdown {
	display: none;
	position: absolute;
    top: 50px;
    margin-left: 127px;
	width: 480px;
    max-height: 480px;
    background: white;
    border: 1px solid #CCCCCC;
    padding: 10px;
    overflow-y: auto;
}

.search-dropdown label {
	display: block;
    width: 100%;
    font-weight: 700;
    color: #676767;
    text-align: center;
    background: rgba(96, 96, 96, 0.13);
    margin-bottom: 20px;
    padding: 3px;
    clear: both;
}

.search-dropdown a {
	display: block;
    margin-bottom: 30px;
    overflow: hidden;
}

.search-dropdown a img {
	float: left;
	width: 70px;
    margin-right: 10px;
}

.search-dropdown a .sdtl-title {
	float: left;
    width: 363px;
    color: #161616;
    font-weight: 700;
}

.search-dropdown a .sdtl-author {
	float: left;
    width: 363px;
    font-size: 14px;
    color: #676767;
    margin-top: 5px;
}

.search-dropdown a .sdtl-description {
	float: left;
    width: 363px;
    margin-top: 10px;
    color: #161616;
}

.search-dropdown a .sdtl-description em {
	color: #FF4848;
	font-weight: 700;
	font-style: normal;
}

.search-dropdown a:hover .sdtl-title {
	color: #FF4848;
}

.menu-icon {
	display: none;
}

.header-nav {
	float: right;
}

.header-nav-small {
	display: none;
	position: fixed;
    background: white;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 30px;
    overflow-y: auto;
    overflow-x: hidden;
}

.header-nav-small .hns-close {
    float: right;
    font-weight: 600;
    margin-top: -12px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.header-nav .hn-book-nav, .header-nav .hn-collection-nav,
.header-nav .hn-notification-nav, .header-nav .hn-user-nav,
.header-nav .hn-sign-nav, .header-nav-small .hn-book-nav, 
.header-nav-small .hn-collection-nav, .header-nav-small .hn-notification-nav,
.header-nav-small .hn-invite-nav, .header-nav-small .hn-settings-nav,
.header-nav-small .hn-sign-out-nav {
	float: left;
	margin-top: 17.5px;
	margin-right: 30px;
	overflow: hidden;
	cursor: pointer;
}

.header-nav .hn-sign-nav {
	margin-right: 0;
}

.header-nav-small .hn-book-nav, .header-nav-small .hn-collection-nav, .header-nav-small .hn-notification-nav, .header-nav-small .hn-invite-nav, .header-nav-small .hn-settings-nav, .header-nav-small .hn-sign-out-nav {
	float: none;
	display: block;
	border: 1px solid #DFDFDF;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 20px;
	padding: 20px;
}

.header-nav a.active svg g, .header-nav a.active svg path {
	stroke: #FF4848;
}

.header-nav a.active label {
	color: #FF4848;
}

.header-nav a:nth-child(4) {
	margin-right: 0;
}

.header-nav-small a {
	clear: both;
}

.header-nav svg, .header-nav-small svg {
	float: left;
	margin-right: 5px;
}

.header-nav-small svg {
	margin-right: 20px;
}

.header-nav .hn-book-nav:hover svg g, .header-nav .hn-collection-nav:hover svg path, .header-nav .hn-notification-nav:hover svg g {
	stroke: #FF4848;
}

.header-nav .hn-user-nav img {
	float: left;
	width: 25px;
	height: 25px;
	border-radius: 25px;
	margin-right: 5px;
}

.header-nav label, .header-nav-small label {
	float: left;
	color: #676767;
	font-weight: 600;
	margin-top: 2px;
	cursor: pointer;
}

.header-nav .hn-book-nav:hover label, .header-nav .hn-collection-nav:hover label, .header-nav .hn-notification-nav:hover label, .header-nav .hn-user-nav:hover label {
	color: #FF4848;
}

.header-nav .hn-user-nav svg {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 0;
}

.header-nav .hn-user-nav:hover svg path {
	fill: #FF4848;
}

.user-dropdown {
	display: none;
	position: absolute;
	width: 190px;
	background: white;
	border: 1px solid #CCCCCC;
	padding: 20px;
	margin-top: 49px;
    margin-left: 373px;
}

.user-dropdown div {
	position: absolute;
    width: 25px;
    height: 32px;
    background: #222222;
    margin-top: -52px;
    right: 0;
}

.user-dropdown div svg {
	float: left;
    margin-top: 10px;
    margin-left: 7px;
}

.user-dropdown a {
	display: block;
	color: #676767;
	font-weight: 600;
	text-decoration: none;
	margin-bottom: 20px;
	cursor: pointer;
	overflow: hidden;
}

.user-dropdown a:last-child {
	margin-bottom: 0;
}

.user-dropdown a:hover {
	color: #FF4848;
}

.page-container {
	width: 100%;
	margin-top: 60px;
	overflow: hidden;
}

.sign-form {
	display: block;
	width: 240px;
	margin: 120px auto;
}

.sign-form label {
	display: block;
    font-weight: 700;
    text-align: center;
}

.sign-form input[type="text"], .sign-form input[type="password"] {
	width: 100%;
    height: 40px;
    font-size: 16px;
    padding: 0 10px;
    outline: none;
	margin-top: 20px;
}

input[type="submit"] {
	display: block;
	background: #FF4848;
	font-size: 16px;
    color: white;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: .6em;
    padding-top: .4em;
    border: none;
    margin: 20px auto 0;
    outline: none;
    cursor: pointer;
}

.quote-of-the-day {
	width: 600px;
	margin: 60px auto;
	overflow: hidden;
}

.quote-of-the-day .qotd-border {
	width: 100%;
	border: 5px solid rgba(96, 96, 96, 0.13);
	padding: 20px;
	overflow-y: hidden;
}

.quote-of-the-day label {
	position: absolute;
    background: #222222;
    color: white;
    font-weight: 600;
    margin-top: -47px;
    margin-left: -35px;
    padding: 6px 8px;
}

.quote-of-the-day img {
	float: left;
	margin-right: 20px;
}

.quote-of-the-day .quote, .quote-of-the-day .author {
	float: left;
	color: #161616;
	width: 480px;
	line-height: 24px;
}

.quote-of-the-day .quote {
	font-size: 19px;
	line-height: 27px;
}

.quote-of-the-day .author {
	float: right;
	margin-top: 5px;
	font-weight: 700;
}

.currently-reading-container {
	width: 100%;
	background: #222222;
}

.currently-reading-container .crc-bg, .books-container {
	width: 1440px;
	margin: 0 auto 80px;
	padding: 30px;
	overflow: hidden;
}

.books-container {
	padding: 0 30px;
}

.crc-bg label {
	float: left;
	font-size: 24px;
	font-weight: 600;
	color: #333333;
	background: white;
	padding: 8px 12px;
}

.crcb-arrow {
	float: right;
}

.crcb-arrow .left, .crcb-arrow .right {
	float: left;
	width: 60px;
	height: 47px;
	border: 4px solid white;
	cursor: pointer;
}

.crcb-arrow .left {
	margin-right: 30px;
}

.crcb-arrow .left:hover, .crcb-arrow .right:hover {
	background: white;
}

.crcb-arrow .left.none, .crcb-arrow .right.none {
	background: none;
	border: none;
	padding-top: 4px;
	cursor: auto;
}

.crcb-arrow .left svg, .crcb-arrow .right svg {
	display: block;
	margin: 10px auto;
}

.crcb-arrow .left.none svg g, .crcb-arrow .right.none svg g {
	stroke: #BEBEBE;
}

.crcb-arrow .left:hover svg g, .crcb-arrow .right:hover svg g {
	stroke: #333;
}

.crcb-arrow .left.none:hover svg g, .crcb-arrow .right.none:hover svg g {
	stroke: #BEBEBE;
}

.crcb-book-list {
	position: relative;
	float: left;
	width: 1380px;
	min-height: 300px;
	margin: 50px 0 30px;
    clear: both;
    overflow: hidden;
}

.crcb-book-list a {
	position: absolute;
	top: 0;
	transition: left 0.2s ease-in-out;
}

.bc-nav-list {
	width: 684px;
	margin: 0 auto;
	overflow: hidden;
}

.bc-nav-list .bcnl-item {
	float: left;
	background: #222222;
	width: 208px;
    height: 47px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
	color: white;
	margin-right: 30px;
    padding-top: 7px;
    cursor: pointer;
}

.bc-nav-list .bcnl-item:last-child {
	margin-right: 0;
}

.bc-nav-list .bcnl-item:hover {
	background: #FF4848;
}

.bc-nav-list .bcnl-item.active {
	background: #FF4848;
}

.bc-books-list, .bc-books-list div, .bc-books-list-medium, .bc-books-list-medium div, .bc-books-list-small-ipad, .bc-books-list-small-ipad div, .bc-books-list-small, .bc-books-list-small div, .bc-books-list-xtra-small {
	overflow: hidden;
}

.bc-books-list-medium,.bc-books-list-small-ipad, .bc-books-list-small, .bc-books-list-xtra-small {
	display: none;
}

.bc-books-list-medium a img, .bc-books-list-small-ipad a img, .bc-books-list-small a img, .bc-books-list-xtra-small a img {
	width: 180px;
}

.bc-books-list a, .bc-books-list-medium a, .bc-books-list-small-ipad a, .bc-books-list-small a {
	float: left;
	margin-right: 30px;
	margin-top: 50px;
}

.bc-books-list a:nth-child(6n), .bc-books-list-medium a:nth-child(4n), .bc-books-list-small-ipad a:nth-child(3n), .bc-books-list-small a:nth-child(2n) {
	margin-right: 0;
}

.bc-books-list-small-ipad {
	width: 600px;
	margin: 0 auto;
}

.bc-books-list-small {
	width: 390px;
    margin: 0 auto;
}

.bc-books-list-xtra-small a {
	display: block;
	width: 100%;
    margin-top: 50px;
    overflow: hidden;
}

.bc-books-list-xtra-small a img {
	display: block;
    margin: 0 auto;
}

.bc-pagination {
	width: 382px;
	margin: 80px auto 0;
	overflow: hidden;
}

.bc-pagination a, .bc-pagination .dots {
	float: left;
	font-size: 24px;
	margin-right: 30px;
}

.bc-pagination a {
	color: #161616;
	text-decoration: none;
}

.bc-pagination .num {
	margin-top: 8px;
	font-weight: 600;
}

.bc-pagination .dots {
	margin-top: 8px;
	font-weight: 600;
	cursor: default;
	color: #BEBEBE;
}

.bc-pagination a:hover {
	color: #FF4848;
}

.bc-pagination a.none {
	color: #BEBEBE;
	cursor: default;
}

.bc-pagination .num.none {
	font-size: 20px;
    margin-top: 10px;
}

.bc-pagination .left, .bc-pagination .right {
	width: 60px;
    height: 47px;
    text-align: center;
    border: 4px solid #FF4848;
    padding-top: 5px;
    cursor: pointer;
}

.bc-pagination .right {
	margin-right: 0;
}

.bc-pagination .left:hover, .bc-pagination .right:hover {
	background: #FF4848;
}

.bc-pagination .left:hover svg g, .bc-pagination .right:hover svg g {
	stroke: white;
}

.bc-pagination .left.none, .bc-pagination .right.none {
	border: none;
	margin-top: 4px;
}

.bc-pagination .left.none svg g, .bc-pagination .right.none svg g {
	stroke: #BEBEBE;
}

.bc-pagination .left.none:hover, .bc-pagination .right.none:hover {
	background: transparent;
}

footer {
	width: 100%;
	height: 80px;
	background: #222222;
}

.collections-banner {
	position: relative;
	width: 100%;
	height: 260px;
	background-image: url('../img/collections_banner.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.collections-banner::after {
	position: absolute;
	top: 0;
	left: 0;
	content: " ";
	width: 100%;
	height: 260px;
	background-color: rgba(0, 0, 0, 0.7);
}

.collections-banner label {
	position: absolute;
	width: 100%;
	font-size: 34px;
	font-weight: 700;
	text-align: center;
	color: white;
	text-align: center;
	z-index: 1;
	margin-top: 70px;
}

.collections-banner .add-collection-button {
	position: absolute;
    background: #FF4848;
    text-decoration: none;
    color: white;
    left: 50%;
    margin-left: -87.49px;
    margin-top: 140px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: .6em;
    padding-top: .4em;
    z-index: 1;
}

@media screen
  and (max-width: 1440px) { 
  	
  	header .header-container {
  		width: 1290px;
  	}

  	.quote-of-the-day .quote {
  		font-size: 17px;
  	}

  	.crc-bg label {
  		font-size: 21px;
  	}

  	.crcb-arrow .left, .crcb-arrow .right {
  		width: 56px;
  	}

  	.crcb-arrow .left svg, .crcb-arrow .right svg {
  		width: 29px;
  	}

  	.bc-nav-list {
  		width: 618px;
  	}

  	.bc-nav-list .bcnl-item {
  		width: 186px;
    	height: 43px;
    	font-size: 21px;
  	}

  	.currently-reading-container .crc-bg, .books-container {
  		width: 1290px;
  	}

  	.crcb-book-list {
  		width: 1230px;
  		min-height: 270px;
  	}

  	.crcb-book-list a img, .bc-books-list a img {
  		width: 180px;
  	}

  	.bc-pagination a, .bc-pagination .dots {
  		font-size: 21px;
  	}

  	.bc-pagination .dots, .bc-pagination .num {
  		margin-top: 9px;
  	}

  	.bc-pagination .num.none {
  		font-size: 18px;
  		margin-top: 10px;
  	}

  	.bc-pagination .left, .bc-pagination .right {
  		width: 56px;
  		padding-top: 8px;
  	}

  	.bc-pagination .left svg, .bc-pagination .right svg {
  		width: 29px;
  	}

}

@media screen 
  and (max-width: 1300px) {

  	.currently-reading-container .crc-bg, .books-container {
  		width: 870px;
  	}

  	.bc-books-list, .bc-books-list-small, .bc-books-list-xtra-small {
  		display: none;
  	}

  	.bc-books-list-medium {
  		display: block;
  	}
}

@media screen
  and (max-device-width: 1024px) {

  	header {
  		height: 108px;
  	}

  	.nav-up {
  		top: -108px;
  	}

  	header .header-container {
  		width: 100%;
  	}

  	.search-box {
  		display: block;
    	float: none;
    	width: 100%;
    	margin-top: 60px;
    	margin-left: 0;
  	}

  	.search-dropdown {
    	width: 100%;
    	margin-top: 48px;
    	margin-left: -30px;
    	max-height: 600px;
  	}

  	.search-dropdown a img {
  		width: 14%;
  	}

  	.search-dropdown a .sdtl-title, .search-dropdown a .sdtl-author, .search-dropdown a .sdtl-description {
  		width: 82%;
  	}

  	.header-nav {
  		display: none;
  	}

  	.menu-icon {
  		float: right;
  		display: block;
    	margin-top: -80px;
    	cursor: pointer;
  	}

  	.page-container {
  		margin-top: 108px;
  	}

}

@media screen
  and (max-device-width: 900px) {

  	.quote-of-the-day {
  		width: 390px;
  	}

  	.quote-of-the-day label {
  		left: 50%;
    	margin-left: -74px;
  	}

  	.quote-of-the-day img {
  		float: none;
    	display: block;
    	margin: 0 auto 20px;
  	}

  	.quote-of-the-day .quote, .quote-of-the-day .author {
  		width: 100%;
    	text-align: center;
    	margin-bottom: 10px;
    	float: none;
  	}

  	.quote-of-the-day .author {
  		margin-bottom: 0;
  	}
  	
  	.currently-reading-container .crc-bg, .crcb-book-list, .books-container {
  		width: 100%;
  	}

  	.bc-nav-list {
  		width: 186px;
  	}

  	.bc-nav-list .bcnl-item {
  		float: none;
  		display: block;
  		margin-bottom: 30px;
  	}

  	.bc-nav-list .bcnl-item:last-child {
  		margin-bottom: 0;
  	}

  	.bc-books-list,.bc-books-list-medium, .bc-books-list-small-ipad, .bc-books-list-xtra-small {
  		display: none;
  	}

  	.bc-books-list-small {
  		display: block;
  	}

 }

 @media screen
  and (max-device-width: 768px) {

  	.bc-nav-list {
  		display: block;
    	width: 618px;
    	margin: 0 auto;
  	}

  	.bc-nav-list .bcnl-item {
  		display: block;
    	float: left;
    	margin-bottom: 0;
  	}
  	
  	.bc-books-list,.bc-books-list-medium, .bc-books-list-small, .bc-books-list-xtra-small {
  		display: none;
  	}

  	.bc-books-list-small-ipad {
  		display: block;
  	}

}

@media screen
  and (max-device-width: 740px) {

  	.search-dropdown {
  		max-height: 190px;
  	} 	

  	.quote-of-the-day {
  		width: 100%;
  		padding: 0 30px;
  	}

  	.currently-reading-container .crc-bg, .books-container {
  		width: 100%;
  	}

  	.crc-bg label {
  		float: none;
	    display: block;
    	text-align: center;
    	margin-bottom: 30px;
  	}

  	.crcb-arrow {
  		width: 100%;
    	float: none;
    	margin: 0 auto;
    	overflow: hidden;
  	}

	.crcb-arrow .right {
  		float: right;
  	}

  	.bc-nav-list, .bc-nav-list .bcnl-item {
  		width: 100%;
  	}

  	.bc-nav-list .bcnl-item {
  		margin-bottom: 30px;
  	}

  	.bc-books-list,.bc-books-list-medium, .bc-books-list-small-ipad, .bc-books-list-small {
  		display: none;
  	}

  	.bc-books-list-xtra-small {
  		display: block;
  	}

  	.bc-pagination {
  		width: 190px;
  	}

  	.bc-pagination a:nth-child(6) {
  		margin-right: 0;
  	}

  	.bc-pagination .left, .bc-pagination .right {
  		display: none;
  	}

}

@media screen
  and (max-device-width: 470px) {

  	.search-dropdown {
  		max-height: 340px;
  	}

}
