body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	background: #FFFFF8;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::selection {
  background: #FF4848;
  color: white;
}
::-moz-selection {
  background: #FF4848;
  color: white;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	background: white;
	margin: 0 auto;
	border-bottom: 1px solid #DFDFDF;
}

header .header-container {
	width: 1440px;
	margin: 0 auto;
	padding: 0 30px;
	overflow: hidden;
}

.logo {
	float: left;
	font-family: 'Droid Sans', sans-serif;
	font-size: 20px;
	color: #676767;
	margin-top: 18px;
}

.search-box {
	float: left;
	width: 480px;
	height: 36px;
	font-size: 14px;
	border: 1px solid #B1B1B1;
	margin-top: 12px;
	margin-left: 30px;
	padding: 0 10px;
	outline: none;
}

.header-nav {
	float: right;
}

.header-nav .hn-book-nav, .header-nav .hn-collection-nav, .header-nav .hn-notification-nav, .header-nav .hn-user-nav {
	float: left;
	margin-top: 17.5px;
	margin-right: 30px;
	overflow: hidden;
	cursor: pointer;
}

.header-nav a:last-child {
	margin-right: 0;
}

.header-nav svg {
	float: left;
	margin-right: 5px;
}

.header-nav .hn-book-nav:hover svg g, .header-nav .hn-collection-nav:hover svg path, .header-nav .hn-notification-nav:hover svg g {
	stroke: #FF4848;
}

.header-nav .hn-user-nav img {
	float: left;
	width: 25px;
	height: 25px;
	border-radius: 25px;
	margin-right: 5px;
}

.header-nav label {
	float: left;
	color: #676767;
	font-weight: 600;
	margin-top: 2px;
	cursor: pointer;
}

.header-nav .hn-book-nav:hover label, .header-nav .hn-collection-nav:hover label, .header-nav .hn-notification-nav:hover label, .header-nav .hn-user-nav:hover label {
	color: #FF4848;
}

.header-nav .hn-user-nav svg {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 0;
}

.header-nav .hn-user-nav:hover svg path {
	fill: #FF4848;
}

.user-dropdown {
	display: none;
	position: absolute;
	width: 190px;
	background: #222222;
	padding: 20px;
	margin-top: 50px;
	margin-left: 369px;
}

.user-dropdown div {
	position: absolute;
    width: 25px;
    height: 32px;
    background: #222222;
    margin-top: -52px;
    right: 0;
}

.user-dropdown div svg {
	float: left;
    margin-top: 10px;
    margin-left: 7px;
}

.user-dropdown a {
	display: block;
	color: white;
	font-weight: 600;
	text-decoration: none;
	margin-bottom: 20px;
	cursor: pointer;
}

.user-dropdown a:last-child {
	margin-bottom: 0;
}

.user-dropdown a:hover {
	color: #FF4848;
}

.page-container {
	width: 100%;
}

.quote-of-the-day {
	width: 600px;
	border: 5px solid rgba(96, 96, 96, 0.13);
	margin: 120px auto 60px;
	padding: 20px;
	overflow: hidden;
}

.quote-of-the-day label {
	position: absolute;
    background: #222222;
    color: white;
    font-weight: 600;
    margin-top: -47px;
    margin-left: -35px;
    padding: 6px 8px;
}

.quote-of-the-day img {
	float: left;
	margin-right: 20px;
}

.quote-of-the-day .quote, .quote-of-the-day .author {
	float: left;
	color: #161616;
	width: 480px;
	line-height: 24px;
}

.quote-of-the-day .quote {
	font-size: 19px;
	line-height: 27px;
}

.quote-of-the-day .author {
	margin-top: 5px;
	font-weight: 700;
}

.currently-reading-container {
	width: 100%;
	background: #222222;
}

.currently-reading-container .crc-bg, .books-container {
	width: 1440px;
	margin: 0 auto 80px;
	padding: 30px;
	overflow: hidden;
}

.books-container {
	padding: 0 30px;
}

.crc-bg label {
	float: left;
	font-size: 24px;
	font-weight: 600;
	color: #333333;
	background: white;
	padding: 8px 12px;
}

.crcb-arrow {
	float: right;
}

.crcb-arrow .left, .crcb-arrow .right {
	float: left;
	width: 60px;
	height: 47px;
	border: 4px solid white;
	cursor: pointer;
}

.crcb-arrow .left {
	margin-right: 30px;
}

.crcb-arrow .left:hover, .crcb-arrow .right:hover {
	background: white;
}

.crcb-arrow .left.none, .crcb-arrow .right.none {
	background: none;
	border: none;
	padding-top: 4px;
	cursor: auto;
}

.crcb-arrow .left svg, .crcb-arrow .right svg {
	display: block;
	margin: 10px auto;
}

.crcb-arrow .left.none svg g, .crcb-arrow .right.none svg g {
	stroke: #BEBEBE;
}

.crcb-arrow .left:hover svg g, .crcb-arrow .right:hover svg g {
	stroke: #333;
}

.crcb-arrow .left.none:hover svg g, .crcb-arrow .right.none:hover svg g {
	stroke: #BEBEBE;
}

.crcb-book-list {
	float: left;
	margin: 50px 0 30px;
    clear: both;
}

.crcb-book-list a {
	float: left;
	margin-right: 30px;
}

.crcb-book-list a:last-child {
	margin-right: 0;
}

.bc-nav-list {
	width: 684px;
	margin: 0 auto;
	overflow: hidden;
}

.bc-nav-list .bcnl-item {
	float: left;
	background: #222222;
	width: 208px;
    height: 47px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
	color: white;
	margin-right: 30px;
    padding-top: 7px;
    cursor: pointer;
}

.bc-nav-list .bcnl-item:last-child {
	margin-right: 0;
}

.bc-nav-list .bcnl-item:hover {
	background: #FF4848;
}

.bc-nav-list .bcnl-item.active {
	background: #FF4848;
}

.bc-books-list {
	overflow: hidden;
}

.bc-books-list a {
	float: left;
	margin-right: 30px;
	margin-top: 50px;
}

.bc-books-list a:nth-child(6n) {
	margin-right: 0;
}

.bc-pagination {
	width: 382px;
	margin: 80px auto 0;
	overflow: hidden;
}

.bc-pagination a, .bc-pagination .dots {
	float: left;
	font-size: 24px;
	margin-right: 30px;
}

.bc-pagination a {
	color: #161616;
	text-decoration: none;
}

.bc-pagination .num {
	margin-top: 8px;
	font-weight: 600;
}

.bc-pagination .dots {
	margin-top: 8px;
	font-weight: 600;
	cursor: default;
	color: #BEBEBE;
}

.bc-pagination a:hover {
	color: #FF4848;
}

.bc-pagination a.none {
	color: #BEBEBE;
	cursor: default;
}

.bc-pagination .left, .bc-pagination .right {
	width: 60px;
    height: 47px;
    text-align: center;
    border: 4px solid #FF4848;
    padding-top: 5px;
    cursor: pointer;
}

.bc-pagination .right {
	margin-right: 0;
}

.bc-pagination .left:hover, .bc-pagination .right:hover {
	background: #FF4848;
}

.bc-pagination .left:hover svg g, .bc-pagination .right:hover svg g {
	stroke: white;
}

.bc-pagination .left.none, .bc-pagination .right.none {
	border: none;
	margin-top: 4px;
}

.bc-pagination .left.none svg g, .bc-pagination .right.none svg g {
	stroke: #BEBEBE;
}

.bc-pagination .left.none:hover, .bc-pagination .right.none:hover {
	background: transparent;
}

footer {
	width: 100%;
	height: 80px;
	background: #222222;
}
