<!DOCTYPE html>
<html>
<head>
	<title>LibreRead</title>
	<link href="https://fonts.googleapis.com/css?family=Droid+Sans:700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
	<link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
	<header>
		<div class="header-container">
			<a href="/" class="logo">LibreRead</a>
			<input type="text" class="search-box" placeholder="Type here to search..">
			<div class="header-nav">
				<a href="/" class="hn-book-nav">
					<svg width="25" height="25" viewBox="0 0 26 26" xmlns="http://www.w3.org/2000/svg"><g stroke="#676767" stroke-width="2" fill="none" fill-rule="evenodd"><path d="M1.273 17.636h6.545m0 0h6.546m3.005.059l6.487-.872"/><path stroke-linecap="square" d="M1.273 2.364h6.545v21.818H1.273zm3.272 3.272v5.455m3.273-8.727h6.545v21.818H7.818zm3.272 3.272v5.455m4.246-8.533l6.487-.87 2.904 21.623-6.487.871zm3.679 2.808l.726 5.406"/></g></svg>
					<label>Add new books</label>
				</a>
				<a href="/" class="hn-collection-nav active">
					<svg width="25" height="25" viewBox="0 0 26 26" xmlns="http://www.w3.org/2000/svg"><path d="M20.209 5.04v3.233M17.178 5.04v3.233m-3.03-3.233v3.233m-3.182-.185H7.734M21.74 18.694h-3.232m-6.633-2.879v3.232m-3.787-3.232v3.232m6.818-3.232v3.232m-9.849-3.232v3.232m-2.272 3.771v2.155m19.696-2.155v2.155M1.27 11.875h23.703M1.27 1.27h23.703v21.548H1.27z" stroke="#676767" stroke-width="2" fill="none" stroke-linecap="square"/></svg>
					<label>Collections</label>
				</a>
				<a href="/" class="hn-notification-nav">
					<svg width="22" height="25" viewBox="0 0 23 26" xmlns="http://www.w3.org/2000/svg"><title>ui-48px-outline-1_bell-55</title><g stroke="#676767" stroke-width="2" fill="none" fill-rule="evenodd"><path d="M8.44 21.78v.105c0 1.72 1.386 3.129 3.079 3.129 1.693 0 3.079-1.408 3.079-3.129v-.104"/><path d="M18.703 11.69V8.56c0-4.067-3.182-7.3-7.184-7.3-4.002 0-7.184 3.233-7.184 7.3v3.129c0 3.493-3.078 4.276-3.078 6.257 0 1.721 3.95 3.129 10.262 3.129 6.311 0 10.262-1.408 10.262-3.129 0-1.981-3.078-2.764-3.078-6.257z" stroke-linecap="square"/></g></svg>
					<label>Notifications</label>
				</a>
				<a href="/" class="hn-user-nav">
					<img src="/static/img/richard.jpeg" width="25" height="25">
					<label>Richard</label>
					<svg width="11" height="8" viewBox="0 0 11 8" xmlns="http://www.w3.org/2000/svg"><title>Triangle</title><path d="M5.5 8L0 0h11z" fill="#676767" fill-rule="evenodd"/></svg>
				</a>
				<div class="user-dropdown">
					<div class="triangle">
						<svg width="11" height="8" viewBox="0 0 11 8" xmlns="http://www.w3.org/2000/svg"><title>Triangle</title><path d="M5.5 0L11 8H0z" fill="#FFF" fill-rule="evenodd"/></svg>
					</div>
					<a href="/">Invite users</a>
					<a href="/">Account settings</a>
					<a href="/signout">Sign out</a>
				</div>
			</div>
		</div>
	</header>
	<div class="page-container">
		<div class="collections-banner">
			<label>Collections</label>
			<a href="/" class="add-collection-button">Add new collection</a>
		</div>
	</div>
	<script
  		src="https://code.jquery.com/jquery-3.2.1.min.js"
  		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  		crossorigin="anonymous"></script>
  	<script src="/static/js/main.js" type="text/javascript"></script>
</body>
</html>