<!DOCTYPE html>
<html>
<head>
	<title>{{.fileName}}</title>
	<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<iframe id="epubIframe" spine-idref="{{.idRef}}" src="{{.filePath}}" width="100%" frameborder="0" scrolling="no" onload="resizeIframe(this)"></iframe>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
  		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  		crossorigin="anonymous"></script>
<script type="text/javascript">
  function resizeIframe(obj) {
    obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
  }

  $(function() {
	$('#epubIframe').bind('load', function() {
		$(this).contents().find('head').append(
        	$('<link/>', { rel: 'stylesheet', href: '/static/css/epub_iframe_style.css', type: 'text/css' })
        )
        $(this).contents().find("body").on('click', function(e) { 
        	var $target = e.target
        	console.log($target.attributes['href'].textContent)
        	var hrefPath = $target.attributes['href'].textContent
        	hrefPath = '{{.packagePath}}' + '/' + hrefPath
        	$('#epubIframe').attr('src', hrefPath)
        })
	})

	$(document).click(function(e) {
		var href = $('#epubIframe').attr('src')
		$.ajax({
				url: '/load-epub-fragment/{{.fileName}}/next',
				data: {
					href: href
				},
				contentType: 'application/json',
            	success: function(data) {
                	if (data !== 'Not signed in') {
                		$('#epubIframe').attr('src', data)
                	} else {
                		alert(data)
                		window.location.href = '/'
                	}
            	}
			})

		return false
	})
  })
</script>
</body>
</html>