{% extends "layout.html" %}
{% block title %}Collections{% endblock %}
{% block content %}
  <div class="collections-container">
    {% if collections == [] %}
      <div class="g-title">Collections</div>
      <p class="no-collection">you have no collections</p>
      <a href="/collections/new" class="btn new-collection-btn">Add new collection</a>
    {% else %}
      <a href="/collections/new" class="btn new-collection-btn">Add new collection</a>
      <div class="g-title">Collections</div>
      <div class="collection-list">
        {% for collection in collections %}
          <a href="/collections/{{collection.id}}" class="collection-item">
            <div class="collection-cover">
              {% for book in collection.books[0:4] %}
                <img src="{{book.cover}}">
              {% endfor %}
            </div>
            <p>{{collection.title}}</p>
          </a>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endblock %}
