{% extends "layout.html" %}
{% block title %}Collections{% endblock %}
{% block content %}
  <div class="collections-container">
    <div class="cc-manage">
      <a href="/collection/edit/" class="btn edit-collection-btn">Edit</a>
      <a href="/collection/delete" class="btn delete-collection-btn">Delete</a>
    </div>
    <div class="g-title">{{ collection.title }}</div>
    <ul class="book-list">
    {% for book in collection.books %}
        <li>
          <a href="{{ book.url }}">
            <img src="{{ book.cover }}" width="110px" height="132px">
          </a>
        </li>
    {% endfor %}
    </ul>
  </div>
{% endblock %}
