<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <meta charset="utf-8">
    <title>LibreRead - {% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    {% endblock %}
  </head>
  <body>
    <div class="page-container">
      <header>
        <a href="/" class="logo">LibreRead</a>
        <input type="text" class="search-box" id="search" placeholder="Type here to search...">
        <div class="search-dropdown">
          <div class="metadata">
            <div class="title">Metadata</div>
            <div class="metadata-none">None</div>
            <ul></ul>
          </div>
          <div class="content">
            <div class="title">Content</div>
            <div class="content-none">None</div>
            <ul></ul>
          </div>
        </div>
        <div class="management">
          {% if current_page == 'collections' %}
            <a href="/collections" class="collections" style="text-decoration: underline;">Collections</a>
          {% else %}
            <div class="upload-books">Add new books</div>
            <a href="/collections" class="collections">Collections</a>
          {% endif %}
          <a href="" class="user">
            <div class="first-name">{{user.name}}</div>
            <svg width="12" height="8" viewBox="0 0 12 8" xmlns="http://www.w3.org/2000/svg">
              <path d="M6 8L0 0h12z" fill="#D8D8D8" fill-rule="evenodd"/>
            </svg>
          </a>
        </div>
        <div class="user-dropdown">
          <a href="/invite" class="invite-users">Invite users</a>
          <a href="/account-settings" class="account-settings">Account settings</a>
          <a href="/signout" class="sign-out">Sign out</a>
        </div>
      </header>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
