<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <meta charset="utf-8">
    <title>LibreRead - {% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Caveat+Brush" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    {% endblock %}
  </head>
  <body>
    <header>
        <a href="/" class="logo">LibreRead</a>
        <input type="text" class="search-box" id="search" placeholder="Type here to search">
        <div class="search-dropdown">
          <div class="metadata">
            <div class="title">Metadata</div>
            <div class="metadata-none">None</div>
            <ul></ul>
          </div>
          <div class="content">
            <div class="title">Content</div>
            <div class="content-none">None</div>
            <ul></ul>
          </div>
        </div>
        <div class="management">
          {% if current_page == 'collections' %}
            <a href="/collections" class="collections" style="text-decoration: underline;">Collections</a>
          {% else %}
            <div class="upload-books">Add new books</div>
            <a href="/collections" class="collections">Collections</a>
          {% endif %}
          <a href="" class="user">
            <div class="first-name">{{user.name}}</div>
            <svg class="nc-icon outline" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 48 48"><path fill="none" stroke="#fff" stroke-width="6" stroke-linecap="square" stroke-miterlimit="10" d="M4 14l20 20 20-20"/></svg>
          </a>
        </div>
        <div class="user-dropdown">
          <a href="/invite" class="invite-users">Invite users</a>
          <a href="/account-settings" class="account-settings">Account settings</a>
          <a href="/signout" class="sign-out">Sign out</a>
        </div>
      </header>
    <div class="page-container">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
