{% extends "layout.html" %}
{% block title %}Collections{% endblock %}
{% block content %}
  <div class="collections-container">
    {% if edit_collection %}
      <div class="g-title">Edit collection</div>
    <form action="/collections/edit/{{collection.id}}" method="post" class="nc-form">
      <input type="text" name="title" class="nc-title" value={{collection.title}}>
    {% else %}
      <div class="g-title">Add new collection</div>
    <form action="/collections/new" method="post" class="nc-form">
      <input type="text" name="title" class="nc-title" placeholder="Title">
    {% endif %}
      <ul class="nc-book-list">
        {% for book in books %}
          <li>
            {% if book in c_books %}
            <input type="checkbox" name="book" class="nc-checkbox" checked value="{{book.id}}">
            {% else %}
            <input type="checkbox" name="book" class="nc-checkbox" value="{{book.id}}">
            {% endif %}
            <img src="{{ book.cover }}" width="110px" height="132px" class="nc-img">
          </li>
        {% endfor %}
      </ul>
      <input type="submit" class="btn" value="Submit">
    </form>
  </div>
{% endblock %}
